<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/fragments.html :: header">
<body>
<div th:insert="fragments/fragments.html::navigation"></div>
<div class="container">
    <h1>View Animal</h1>
    <a class="btn btn-primary" href="/dashboard/animals">Back to Animals</a>
    <br/><br/>
    <div th:if="${animal}" th:object="${animal}">
        <table class="table">
            <tr>
                <td>ID</td>
                <td th:text="*{id}">...</td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="*{name}">...</td>
            </tr>
            <tr>
                <td>Species</td>
                <td th:text="*{species.name}">...</td>
            </tr>
            <tr>
                <td>Breed</td>
                <td th:text="*{breed.name}">...</td>
            </tr>
            <tr>
                <td>Age</td>
                <td th:text="*{age}">...</td>
            </tr>
            <tr>
                <td>Sex</td>
                <td th:text="*{sex}">...</td>
            </tr>
            <tr>
                <td>Image</td>
                <td><img class="form-img" th:src="*{getImagePath()}"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td th:text="${animal.description}">...</td>
            </tr>
            <tr>
                <td>Treatment</td>
                <td th:text="${animal.treatment}">...</td>
            </tr>
        </table>
        <br/><br/>
        <div th:if="not ${allowDelete}">
            <a class="btn btn-primary" th:href="@{/dashboard/animals/{id}/edit(id=${animal.id})}">Edit</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_VETERINARY')" class="btn btn-primary" th:href="@{/dashboard/animals/{id}/editTreatment(id=${animal.id})}">Edit Treatment</a>
            <a class="btn btn-danger" th:href="@{/dashboard/animals/{id}/delete(id=${animal.id})}">Delete</a>

        </div>
        <form th:if="${allowDelete}" th:action="@{/dashboard/animals/{id}/delete(id=${animal.id})}"
              method="POST">
            Delete this ? <input type="submit" th:value="Yes"/>
        </form>
    </div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>
</div>
<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>