<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/fragments.html :: header">
<body>
<div th:insert="fragments/fragments.html::navigation"></div>
<div class="container">
<form method="post" th:action="@{/dashboard/addAnimal}" th:object="${newAnimal}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="formName">Pet name</label>
        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? is-invalid" id="formName" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}">Must not be empty</p>
    </div>
    <div class="form-group">
        <label for="formSpecies">Species</label>
        <select class="form-control" id="formSpecies" th:field="*{species}">
            <option th:each="s: ${species}" th:value="${s.getId()}" th:text="${s.getName()}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="formBreed">Breed</label>
        <select class="form-control" id="formBreed" th:field="*{breed}">
            <option th:each="b: ${breeds}" th:value="${b.getId()}" th:text="${b.getName()}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="formAge">Age</label>
        <input type="number" class="form-control" th:classappend="${#fields.hasErrors('age')} ? is-invalid" id="formAge" th:field="*{age}">
        <p th:if="${#fields.hasErrors('age')}">Must not be empty</p>
    </div>
    <div class="form-group">
        <label for="formSex">Sex</label>
        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('sex')} ? is-invalid" id="formSex" th:field="*{sex}">
        <p th:if="${#fields.hasErrors('sex')}">Must not be empty</p>
    </div>
    <div class="form-group">
        <label for="formImage">Image url</label>
        <input type="file" name="formImage" accept="image/png, image/jpeg, image/jpg, image/gif" class="form-control" th:classappend="${#fields.hasErrors('image')} ? is-invalid" id="formImage">
        <p th:if="${#fields.hasErrors('image')}">Must not be empty</p>
    </div>
    <div class="form-group">
        <label for="formDescription">Description</label>
        <textarea type="text" class="form-control" id="formDescription" th:field="*{description}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>