<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert header fragment -->
<head th:insert="fragments/fragments.html :: header">
<body>


<div th:replace="fragments/fragments.html :: navigation"></div>
<!--For Page-->
<div class="d-flex flex-row flex-wrap justify-content-start align-self-start align-items-stretch" >
    <div class="animalCard m-3" th:each="animal : ${listAnimals}">
        <div class="p-2" th:replace="fragments/fragments.html :: adoptCard(${animal.getId()}, ${animal.getName()}, ${animal.getAge()}, ${animal.getSex()},
    ${animal.getDescription()}, ${animal.getSpecies().getName()}, ${animal.getBreed().getName()}, ${animal.getImage()})"></div>
    </div>
</div>

<!--<div th:replace="fragments/fragments.html :: scripts"></div>-->
</body>
</html>