<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert header fragment -->
<head th:insert="fragments/fragments.html :: header">
<body>


<div th:replace="fragments/fragments.html :: navigation"></div>
<!--For Page-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card flex-row border-0">
                <img class="card-img-left rounded m-md-4" style="object-fit: cover"
                     th:src="${animal.getImagePath()}"
                     width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title" th:text="${animal.getName()}">Yuri de Karnel</h5>
                    <p class="card-text">
                        <b>Age : </b>
                        <span th:text="${animal.getAge()}">1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Sex : </b>
                        <span th:text="${animal.getSex()}">1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Breed : </b>
                        <span th:text="${animal.getBreed().getName()}">1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Species : </b>
                        <span th:text="${animal.getSpecies().getName()}">1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Description : </b>
                        <span th:text="${animal.getDescription()}">1008 ans</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Section: Contact v.2-->
        <section class="mb-4">

            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Want to adopt ? Contact Us !</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions or want to adopt ? Please do not hesitate to contact us directly. Our team will come back to you within to help you.</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-center text-md-left">
                            <input type="submit" class="btn btn-primary" value="Send">
                        </div>
                    </form>


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Neuchatel, 2000, Suisse</p>
                        </li>

                        <li>
                            <p>+41 032 666 666 69</p>
                        </li>

                        <li>
                            <p>contact@cuddle.ch</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </section>
        <!--Section: Contact v.2-->
    </div>
</div>
<!--<div th:replace="fragments/fragments.html :: scripts"></div>-->
</body>
</html>