<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert header fragment -->
<head th:insert="fragments/fragments.html :: header">
<body>


<div th:replace="fragments/fragments.html :: navigation"></div>
<!--For Page-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card flex-row border-0">
                <img class="card-img-left m-md-4"
                     src="https://cdn.discordapp.com/attachments/782614625334067200/823499339283562506/IMG_20210129_114017.jpg"
                     width="250" height="250">
                <div class="card-body">
                    <h5 class="card-title">Yuri de Karnel</h5>
                    <p class="card-text">
                        <b>Age : </b>
                        <span>1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Sexe : </b>
                        <span>1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Race : </b>
                        <span>1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Espèce : </b>
                        <span>1008 ans</span>
                    </p>
                    <p class="card-text">
                        <b>Description : </b>
                        <span>1008 ans</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
<!--<div th:replace="fragments/fragments.html :: scripts"></div>-->
</body>
</html>