<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Breed</th>
            <th>Species</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${listAnimals}">
            <td th:text="${animal.getId()}">Product ID</td>
            <td th:text="${animal.getName()}">Name</td>
            <td th:text="${animal.getImage()}">Brand</td>
            <td th:text="${animal.getBreed().getName()}">Made in</td>
            <td th:text="${animal.getSpecies().getName()}">Price</td>
<!--            <td>-->
<!--                <a th:href="/@{'/edit/' + ${product.id}}">Edit</a>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</body>
</html>